<form name="addressForm" ng-controller="AddressCtrl" class="form-horizontal" role="form">
	<div class="form-group">
		<label for="firstname" class="col-sm-2 control-label">First name</label>
		<div class="col-sm-6 has-feedback">
			<input class="form-control" ng-model="address.firstname" name="firstname" required>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addressForm.$dirty && addressForm.firstname.$valid"></span>
		</div>
	</div>
	<div class="form-group">
		<label for="surname" class="col-sm-2 control-label">Surname</label>
		<div class="col-sm-6 has-feedback">
			<input class="form-control" ng-model="address.surname" name="surname" required>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addressForm.$dirty && addressForm.surname.$valid"></span>
		</div>
	</div>
	<div class="form-group">
		<label for="street" class="col-xs-12 col-sm-2 control-label">Street / No.</label>
		<div class="col-xs-10 col-sm-4 has-feedback">
			<input class="form-control" ng-model="address.street" name="street" required>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addressForm.$dirty && addressForm.street.$valid"></span>
		</div>
		<div class="col-xs-2 col-sm-2 has-feedback">
			<input class="form-control" ng-model="address.no" name="no" required>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addressForm.$dirty && addressForm.no.$valid"></span>			
		</div>
	</div>
	<div class="form-group">
		<label for="zip" class="col-xs-12 col-sm-2 control-label">ZIP / City</label>
		<div class="col-xs-4 col-sm-2 has-feedback">
			<input class="form-control" ng-model="address.zip" name="zip" required>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addressForm.$dirty && addressForm.zip.$valid"></span>			
		</div>
		<div class="col-xs-8 col-sm-4 has-feedback">
			<input class="form-control" ng-model="address.city" name="city" required>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addressForm.$dirty && addressForm.city.$valid"></span>			
		</div>
	</div>
	<div class="form-group">
		<label for="payment" class="col-xs-12 col-sm-2 control-label">Your payment method</label>
		<div class="col-xs-8 col-sm-4 has-feedback">		
			<select class="form-control" ng-model="address.payment" name="payment" required>
				<option ng-repeat="pt in payments">
					{{pt}}
				</option>
			</select>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addressForm.$dirty && addressForm.payment.$valid"></span>			
		</div>
		<div class="col-xs-4 col-sm-2 has-feedback">				
			<input class="form-control" type="text" ng-model="address.creditcard" name="creditcard" ng-show="creditCardSelected()" validcreditcard>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="creditCardSelected() && addressForm.creditcard.$dirty && addressForm.creditcard.$valid"></span>			
		</div>			
	</div>	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default" ng-disabled="addressForm.$invalid">Done!</button>
		</div>
	</div>
	    <pre>{{addressForm.$error|json}}</pre>
</form>