<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>app_2a</title>
		<link type="text/css" rel="stylesheet" href="css/common.css">
				     
		<script src="js/angular.min.js"></script>
      	<script src="js/app-2a/SharedCtrlApp.js"></script>
      	<style type="text/css">
      		div {
      			padding: 10px;
      			margin: 10px;
      		}
			span {
				font-weight: bold;
				text-decoration: underline;
			}     
			p {
				font-size: 10pt;
				font-style: italic;
			} 		
			.parent {
				background: lightgreen;
				border: 2px solid green;
			}
			
			.child {
				background: lightblue;
				border: 2px solid blue;			
			}      				
      	</style>
	</head>
	
	<body ng-app="shared-ctrls-app">
	
		<h3>Using primitives:</h3>
		<div ng-controller="ParentCtrl" class="parent">
			Parent-Name: <input type="text" ng-model="name">
			<div>Parent Name Value: <span>{{name}}</span></div>
			
			<div ng-controller="ChildCtrl" class="child">
				Child-Name: <input type="text" ng-model="name">
				<div>Child Name Value: <span>{{name}}</span></div>				
				<p>Hint: use <code>$parent.</code></p>			
			</div>			
		</div>
		
		<h3>Using objects:</h3>
		<div ng-controller="ParentCtrl" class="parent">
			Parent-Name: <input type="text" ng-model="user.name">
			<div>Parent Name Value: <span>{{user.name}}</span></div>
			
			<div ng-controller="ChildCtrl" class="child">
				Child-Name: <input type="text" ng-model="user.name">
				<div>Child Name Value: <span>{{user.name}}</span></div>			
			</div>			
		</div>		
	</body>
	
</html>